ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: black !important;
}

p {
  margin: 0 !important;
}

.btn {
  background-color: #f3e9f1 !important;
  border-radius: 20px !important;
  margin: auto;
  border: 1px solid #7c7c7c13 !important;
}
.btn__form {
  width: 50%;
}
.btn__popUp {
  width: 40%;
  margin: 0;
}

.cardContainer {
  font-family: "Nunito";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  margin: auto;
}
.cardContainer__card {
  width: 400px;
  height: 400px;
  margin: 50px;
}
.cardContainer__card--product {
  display: flex;
  margin: 50px;
  width: 1280px;
  height: 500px;
  background-color: #e6e6e647;
  border-radius: 20px;
}
.cardContainer__card--productLeftInfo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardContainer__card--productRightInfo {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}
.cardContainer__card--orderThank {
  background-color: #adadad26;
  width: 800px;
  height: 400px;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 50px;
}
.cardContainer__img {
  border: #e6e6e6 1px solid;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
  cursor: pointer;
}
.cardContainer__img--productImg {
  width: 90%;
  border-radius: 20px;
}
.cardContainer__description {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  padding: 5px 10px;
  font-family: "Montserrat";
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cardContainer__description--productInfo {
  height: 413px;
  position: absolute;
  top: 67px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cardContainer__descriptionTitle {
  font-weight: bold;
}
.cardContainer__descriptionTitle--titlePageProduct {
  border-bottom: #adadad 1px solid;
  font-weight: 800;
}
.cardContainer__descriptionPrice {
  font-weight: 200px;
  font-size: 15px;
  align-self: flex-end;
}
.cardContainer__descriptionPrice--PricePageProduct {
  border-bottom: #adadad 1px solid;
}
.cardContainer__personnalisationpOfProduct {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: #adadad 1px solid;
}
.cardContainer__personnalisationpOfProduct--list {
  margin-left: 50px;
  margin-bottom: 10px;
}
.cardContainer__descriptionpOfProduct {
  display: flex;
  flex-direction: column;
  border-bottom: #adadad 1px solid;
}
.cardContainer__descriptionpOfProduct--text {
  padding: 13px 0;
}
.cardContainer__buttonAddToShoppingCart {
  background: #f3e9f1;
  text-align: center;
  width: 55%;
  padding: 15px 10px;
  border-radius: 20px;
  align-self: center;
  font-weight: 800;
  border: none;
}
.cardContainer__buttonAddToShoppingCart:focus {
  outline: none;
}

.form-control:focus {
  border-color: #adadad !important;
  box-shadow: none !important;
}

header {
  border-bottom: 1px solid #e6e6e6;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 5px #e6e6e6;
}
header .header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__title {
  font-family: "Sofia";
  font-size: 30px;
}
@media screen and (max-width: 599px) {
  header .header__title {
    text-align: center;
  }
}
header .header__icon {
  position: absolute;
  right: 10%;
}
header .header__icon i {
  margin: 0 5px;
  font-size: 18px;
  background: -webkit-linear-gradient(#d4813a, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.footer {
  color: black;
  padding: 40px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat";
}
.footer--background {
  background-color: #f3e9f1;
}
.footer__containerBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
@media screen and (max-width: 599px) {
  .footer__containerBox {
    display: block;
  }
}
.footer__title {
  font-size: 30px;
  font-weight: 400;
  font-family: "Sofia";
}
.footer__title--adress {
  font-size: 30px;
}
.footer ul {
  padding: 0;
}

.rsBox {
  display: flex;
}

.rs--light {
  font-size: 25px;
  color: #d4d4d4;
}

.backgroundRs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 47px;
  margin: 0 5px;
  border-radius: 50px;
  background-color: #fbfbfb;
  box-shadow: 5px 5px 5px #e6e6e6;
}

#copyright {
  font-family: "Nunito Sans";
  background-color: #fbfbfb;
  height: 40px;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  color: black;
}

.iconCheck {
  font-size: 80px;
  color: green;
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.popUp {
  margin: 10% auto;
  width: 40%;
  background-color: #f3f3f3;
  height: 239px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.containerShoppingCartPage {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
}
.containerShoppingCartPage__left {
  width: 50%;
}
.containerShoppingCartPage__right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.containerCardShoppingCartPage {
  background-color: #e6e6e666;
  padding: 50px;
  border-radius: 20px;
}
.containerCardShoppingCartPage__titleForm {
  font-size: 25px;
  font-weight: 600;
}
.containerCardShoppingCartPage__align {
  display: flex;
  justify-content: space-between;
  border-top: #575757 1px solid;
}
.containerCardShoppingCartPage__rowInfo {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.containerCardShoppingCartPage__img {
  width: 40%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group {
  margin: 20px;
}

.form-control {
  margin: 5px;
}

.inputForm {
  width: 48%;
}
.inputForm--cityCode {
  width: 30%;
}
.inputForm--city {
  width: 67%;
}

.formEnd {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.formEnd__saveInfo {
  margin: 20px;
}

.selectNumberOfProduct {
  width: 40px !important;
}

/*# sourceMappingURL=style.css.map */
