.btn {
    background-color: #f3e9f1 !important;
    border-radius: 20px !important;
    margin: auto;
    border: 1px solid #7c7c7c13 !important;

    &__form{
        width: 50%;
    }
    &__popUp{
        width: 40%;
        margin: 0;
    }

    @include mobile-only{
        width: 50%;
    }
}

.btnReturnToHome {
    background-color: #f3e9f1;
    width: 65%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    border-radius: 20px;
}

