.cardContainer {
    font-family: "Montserrat";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 85px 50px;
    margin: auto;
    @include mobile-only{
        padding: 80px 20px;
    }

    &__card {
        width: 400px;
        height: 400px;
        margin: 50px;
        @include mobile-only {
            width: 400px;
            margin: 20px 0px;
        }

        &--product {
            display: flex;
            margin: 50px;
            width: 1280px;
            height: 500px;
            background-color: #e6e6e647;
            border-radius: 20px;
            flex-wrap: wrap;
            @include mobile-only {
                width: 100%;
                margin: 0;
                display: block;
            }
        }

        &--productLeftInfo {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile-only {
                width: 100%;
            }
        }

        &--productRightInfo {
            width: 50%;
            display: flex;
            justify-content: center;
            position: relative;
            @include mobile-only {
                width: 100%;
            }
        }

        &--orderThank {
            background-color: #adadad26;
            width: 800px;
            height: 400px;
            border-radius: 20px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            margin: 50px;
        }
    }

    &__img {
        border: #e6e6e6 1px solid;
        width: 100%;
        height: 300px;
        border-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        object-fit: cover;
        cursor: pointer;

        &--productImg {
            width: 100%;
            border-radius: 20px;
        }
    }

    &__description {
        display: flex;
        justify-content: space-around;
        background-color: rgb(230 230 230 / 57%);
        padding: 5px 10px;
        font-family: "Montserrat";
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        @include mobile-only {
            text-align: center;
            flex-wrap: wrap;
            padding: 22px;
        }

        &--productInfo {
            height: 413px;
            position: absolute;
            top: 67px;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            @include mobile-only{
                position: unset;
                top: 0;
                justify-content: space-between;
            }
        }
    }

    &__descriptionTitle {
        font-weight: bold;

        &--titlePageProduct {
            border-bottom: #adadad 1px solid;
            font-weight: 800;
        }
    }

    &__descriptionPrice {
        font-weight: 200px;
        font-size: 15px;
        align-self: flex-end;

        &--PricePageProduct {
            border-bottom: #adadad 1px solid;
        }
    }

    &__personnalisationpOfProduct {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-bottom: #adadad 1px solid;
        @include mobile-only {
            display: block;
            margin: 0;
        }

        &--list {
            margin-left: 50px;
            margin-bottom: 10px;
            @include mobile-only {
                margin-left: 0;
                display: flex;
                align-items: center;
            }
        }
    }

    &__descriptionpOfProduct {
        display: flex;
        flex-direction: column;
        border-bottom: #adadad 1px solid;

        &--title {
        }
        &--text {
            padding: 13px 0;
        }
    }

    &__buttonAddToShoppingCart {
        background: #f3e9f1;
        text-align: center;
        width: 55%;
        padding: 15px 10px;
        border-radius: 20px;
        align-self: center;
        font-weight: 700;
        border: none;
        &:focus {
            outline: none;
        }
        @include mobile-only{
            width: 100%;
        }
    }
}

.form-control {
    &:focus {
        border-color: #adadad !important;
        box-shadow: none !important;
    }
}

select {
    @include mobile-only {
        font-size: 13px !important;
    }
}
