.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    margin: auto;
    width: 900px;

    &__card {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin: 30px;
    }

    &__img {
        border: #e6e6e6 1px solid;
        width: 300px;
        height: 200px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        background-color: #e6e6e6;
        padding: 5px 10px;
        font-family: "Poppins";
        &--title {
            font-weight: bold;
            
        }
        &--price {
            font-weight: 200px;
            font-size: 12px;
            align-self: flex-end;
        }
    }
}
