.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.popUp {
    margin: 10% auto;
    width: 40%;
    background-color: #f3f3f3;
    height: 239px;
    box-shadow: 0 15px 20px rgb(0 0 0 / 30%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}


