.containerShoppingCartPage {
    font-family: "Montserrat";
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
    @include mobile-only{
        display: block;
    }

    &__left {
        width: 50%;
        @include mobile-only{
            width: 100%;
        }
    }
    &__right {
        width: 40%;
        display: flex;
        flex-direction: column;
        @include mobile-only{
            width: 100%;
        }
    }
}

.containerCardShoppingCartPage {
    background-color: #e6e6e666;
    padding: 50px;
    border-radius: 20px;
    @include mobile-only{
        padding: 20px;
    }

    &__titleForm {
        font-size: 25px;
        font-weight: 600;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 15px;
            cursor: pointer;
        }
    }

    &__align {
        display: flex;
        justify-content: space-between;
        font-size: 17px;
    }

    &__rowInfo {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

    &__product {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px solid grey;
        margin-bottom: 30px;
    }

    &__colContent {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 100%;
        margin-left: 20px;

        &--priceProduct {
            position: absolute;
            right: 15px;
        }

        &--nameOfProduct {
            font-size: 20px;
            font-weight: bold;
        }

        &--descriptionOfProduct {
            padding-top: 5px;
            font-size: 14px;
            font-weight: 400;
            text-align: justify;
        }

        &--buttonRemoveProduct {
            cursor: pointer;
            font-size: 14px;
            margin-left: 10px;
        }

        .rowSelect {
            display: flex;
            width: 100%;
            align-items: baseline;
        }

        select {
            margin-top: 10px;
            width: 23%;
            border-radius: 20px;
            padding-left: 9px;
            padding-bottom: 2px;
            outline: none;
            border: 1px solid #d2d2d2;
            box-shadow: 2px 2px 5px #d2d2d2;
            font-size: 15px;
        }
    }

    &__img {
        width: 35%;
        object-fit: cover;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group {
    margin: 20px;
}
.form-control {
    margin: 5px;
}

.inputForm {
    width: 48%;
    &--cityCode {
        width: 30%;
    }
    &--city {
        width: 67%;
    }
}

.formEnd {
    display: flex;
    flex-direction: column;
    margin: 20px;
    &__saveInfo {
        margin: 20px;
    }
}

.selectNumberOfProduct {
    width: 40px !important;
}

.cartEmpty {
    display: flex;
    flex-direction: column;

    &__content {
        text-align: center;
        font-size: 20px;
        padding-bottom: 30px;
    }

    &__price {
        border-top: 1px solid grey;
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
    }
}
