header {
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 5px #e6e6e6;
    

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        &__title {
            font-family: "Sofia";
            font-size: 30px;
            @include mobile-only {
                text-align: center;
            }
        }

        &__icon {
            position: absolute;
            right: 10%;
            i {
                margin: 0 5px;
                font-size: 18px;
                background: -webkit-linear-gradient($primaryColor, $secondaryColor);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 20px;
            }
        }
    }
}
